<% other_user = chatroom.other_user(current_user) %>
<div class="invitation-container">
  <div class="invitation-text">
    <%= other_user.first_name %> about your report of <%= chatroom.missing_animal.name %>
  </div>
  <div class="invitation-buttons">
    <%= button_to 'Accept Chat', accept_chatroom_path(chatroom), method: :patch, class: 'accept-button' %>
    <%= button_to 'Decline Chat', decline_chatroom_path(chatroom), method: :patch, data: { confirm: 'Are you sure?' }, class: 'decline-button' %>
  </div>
</div>
