<% other_user = chatroom.other_user(current_user) %>
<div class="chatroom-container">
  <% if chatroom.accepted? %>
    <div class="chatroom-link">
      <%= other_user.first_name %>
    </div>
    <div class="chatroom-messages">
      <% last_message = chatroom.messages.last %>
      <% if last_message %>
        <p class="last-message">Last message: <span class="message-content"><%= last_message.content %></span> at <span class="message-time"><%= last_message.created_at %></span></p>
      <% else %>
        <p class="no-messages">No messages yet.</p>
      <% end %>
    </div>
  <% elsif chatroom.pending? && chatroom.invited?(current_user) %>
    <div class="chat-invitation">
      <%= render 'chat_invitation', chatroom: chatroom, other_user: other_user %>
    </div>
  <% end %>
</div>
