<div class="chatroom-container">
  <h1 class="text-center my-5 chatroom-header">CHATROOMS</h1>

  <div class="row mb-5 chatroom-row">
    <div class="col-4 chatroom-col">
      <h2 class="mb-4 chatroom-title">Active chats:</h2>
      <% @chatrooms.each do |chatroom| %>
        <% if chatroom.accepted? %>
          <%= link_to chatroom_path(chatroom), class: 'chatroom-link' do %>
            <div class="card mb-3 chatroom-card">
              <div class="card-body chatroom-card-body">
                <%= render 'chatroom', chatroom: chatroom %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-8 chatroom-col">
      <h2 class="mb-4 chatroom-title text-center">Chat window</h2>
    </div>
  </div>
</div>
