<div class="row">
  <div class="col-6">
    <h2 class="text-center">Active chats</h2>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.accepted? %>
        <%= link_to chatroom_path(chatroom), class: 'chatroom_link' do %>
          <div>
            <%= render 'chatroom', chatroom: chatroom %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="col-6">
    <h2 class="text-center">Chat invitations</h2>
    <% @chatrooms.each do |chatroom| %>
      <% if chatroom.pending? && chatroom.invited?(current_user) %>
        <div>
          <%= render 'chatroom_invitation', chatroom: chatroom %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
